body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box{
  position: relative;
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 14px 6px rgba(0,0,0,0.75);
  background: linear-gradient(390deg,#000 0%,#000 25%, #fff5f9 50%,#ff3e92 75%,#0f7fff 100%);
  background-size: 800%;
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
  transition: .5s all;
}
.img{
  background: url(bg.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: .8;
  mix-blend-mode: screen;
}
.title{
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 100;
  font-size: 60px;
  text-shadow: 3px 3px 5px #000;
}

.box:hover{
  background-position: 100%;
}








































